body {
  color:white;
  font-family:"Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Osaka,sans-serif;
  font-size:52px;
  margin: 0px;
  text-align: center;
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
