body {
  background-color:#222;
  color:white;
  font-family:"Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Osaka,sans-serif;
  font-size:52px;
  margin: 0px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}